*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    border: 2px solid;
    gap:20%;
    width:500px;
}
.home{
    border:1px solid;
    width:fit-content;
    background-color:lightblue;
}
.about{
    border:1px solid;
    width:fit-content;
    background-color:lightcoral;
}
.project{
    border:1px solid;
    width:fit-content;
    background-color:lightgreen;
}
.contact{
    border:1px solid;
    width:fit-content;
    background-color:lightslategrey;
}
@media screen and (width > 600px) { 
    .container{
    display:flex; 
    }
}